body {
    background-color: rgba(96, 140, 190, 0.781);
    padding: 0px 20px 0px 20px;
}

h1 {
    text-align: center;
}

img {
    width: 100%;
    height: 50%;
}

hr {
    border-width: 5px;
    margin-top: 10px;
}