body {
    background-color: rgba(71, 136, 136, 0.658);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: x-large;
    padding-inline: 300px; 
}

#contenedor {
    margin: 40px 0px 40px 0px;
    border: 10px solid #00F934;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

div.elemento {
    border: 10px solid #079b27;
    width: 200px;
}